@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.container-wrapper {
  margin: 55px;
  height: 100%;
}

body {
  background-color: #fbfbf5;
  color: #4f4f4f;
}

.jumbo {
  font-family: "Roboto", sans-serif;
  font-size: 65px;
}

.sub-jumbo {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
}

.form-wrapper {
  margin: 5px;
  padding: 7px 7px;
}

.forms {
  padding: 25px 25px;
  background-color: #ffffff;
  border-radius: 7px;
}

.uiHints {
  border-radius: 7px;
  border-width: 1px;
  font-size: 13px;
  line-height: 19.5px;
  margin: 0px 0px 16px;
  padding: 12px 59.5px 12px 20px;
  background-color: #f8d7da;
  text-align: left;
  width: 300px;
  min-height: 90px;
  position: fixed;
  bottom: 120px;
  right: 15px;
  z-index: 1;
}

.uiHints:hover {
  transform: translateY(-10px);
}

.hideUiHints {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
