@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.container-wrapper {
  margin: 55px;
  text-align: center;
}

body {
  background-color: #fbfbf5;
  color: #4f4f4f;
}

.primary-button {
  background-color: #28833e;
  color: #ffffff;
  border-radius: 20%;
}

.sub-jumbo {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
}

.jumbo {
  font-family: "Roboto", sans-serif;
  font-size: 65px;
}

.form-wrapper {
  margin: 5px;
  padding: 7px 7px;
}

.forms {
  padding: 25px 25px;
  background-color: #ffffff;
  border-radius: 7px;
}
